$main_bg: hsl(210, 11, 15);
$alt_bg: hsl(210, 11, 15, 90%);
$text_bg: hsl(210, 9, 31, 10%);
$button_bg: hsl(210, 9, 31);
$headings: hsl(210, 16, 93);
$text_primary: hsla(210, 11%, 71%, 0.8);
$button_text: hsl(210, 16, 93);
